## Условие 1:
Оформляйте ноутбук, используя эти советы:

- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как код

## Условие 2:
На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [7]:
def fruit_summ(**kwargs):
    fruit_summ = sum(kwargs.values())
    return f'Total fruits: {fruit_summ}'

In [8]:
print(fruit_summ(mango=150, apples=12, bananas=56, kiwi=78))

Total fruits: 296

## Условие 3:
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты. Используйте list comprehensions.

In [75]:
data = [100, 125, -90, 345, 655, -1, 0, 200]

In [76]:
new_data=[]
for i in data:
    if i>=0:
        new_data.append(i)
print(new_data)

[100, 125, 345, 655, 0, 200]

In [77]:
def correction_data (data:list)->dict:
    new_data= [i for i in data if i>=0]
    return new_data

In [74]:
correction_data(data)

[100, 125, 345, 655, 0, 200]

In [84]:
print(f'Total cost {sum(new_data)}')

Total cost 1425

## Условие 4
Даны два списка.
Дата покупки:

In [1]:
data=['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
      '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23',
      '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09',
      '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13',
      '2021-10-26', '2021-12-09']

Суммы покупок по датам:

In [2]:
cost=[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930,
      2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Условиe 4.1 
Найдите, какая выручка у компании в ноябре. Используйте list comprehensions

In [3]:
def month_revenue(data1:list, data2:list, month:str)-> int:
    month_rev=[data2[i] for i in range(len(data2)-1) if month in data1[i]]
    return month_rev

In [4]:
month_rev = month_revenue(data, cost, '-11')

print(f'Total revenue in november is {sum(month_rev)}.')

Total revenue in november is 25098.

### Условие 4.2 
Найдите выручку компании в зависимости от месяца. Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка. Используйте аннотирование типов.

In [42]:
def month_revenue(data1:list, data2:list)-> dict:
    month_rev={}
    for i in range(len(data1)):
        if data1[i].split("-")[1] in month_rev.keys():
            month_rev[data1[i].split("-")[1]]+=data2[i]
        else:
            month_rev[data1[i].split("-")[1]]=data2[i]
    return month_rev

In [45]:
sorted_month=month_revenue(data, cost)
print(sorted_month)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}

In [46]:
print(sorted(sorted_month.items()))

[('09', 25647), ('10', 28645), ('11', 25098), ('12', 45452)]